{% raw %}
<link rel="stylesheet" href="/assets/css/styles-header.css">
<script src="/assets/js/controls/resource-guide-header.js"></script>
{% endraw %}

<div id="header" class="nav-header">
    <div class="header-image" role="img" aria-label="Deseret Peak Temple"></div>
    <h2 id="title">Grantsville Stake Resource Guide</h2>
</div>

<div id="hamburger-container">
    <div id="open-nav-button" class="button">
        <img src="/assets/images/list.svg" alt="Open navigation" />
    </div>
</div>
