{% raw %}
<link rel="stylesheet" href="/assets/css/styles-header.css">
<script src="/assets/js/controls/resource-guide-header.js"></script>

{% endraw %}

<div id="header" class="nav-header">

    <h2 id="title" >Grantsville Stake Resource Guide</h2>
 
</div>
<div id="hamburger-container">
    <div id="open-nav-button" class="button">
        <img src="/assets/images/list.svg" alt="" srcset="">
    </div>
</div>
<div id="nav-container" >
    <div class="close-button-container">
        <div id="close-nav-button" class="button">
            <img src="/assets/images/x-lg.svg" alt="" srcset="">
        </div>
    </div>
    <a href="index.html">Home</a>
</div>