<div id="toc" class="card">
    <section id="toc" class="centered card-header">
        Table of Contents
    </section>

    <section class="centered">
        <div class="table contact">

            <div class="row">
                <div><a href="#wards">Ward Meeting Times</a></div>
                <div>Section 1</div>
            </div>

            <div class="row">
                <div><a href="#presidency">Stake Presidency</a></div>
                <div>Section 2</div>
            </div>

            <div class="row">
                <div><a href="#high-council">Stake High Council</a></div>
                <div>Section 3</div>
            </div>

            <div class="row">
                <div><a href="#presidency-assignments">Stake Presidency Responsibilities</a></div>
                <div>Section 4</div>
            </div>

            <div class="row">
                <div><a href="#speaking-assignments">Stake Speaking Assignments</a></div>
                <div>Section 5</div>
            </div>

            <div class="row">
                <div><a href="#stake-conference">Stake Conference</a></div>
                <div>Section 6</div>
            </div>

        </div>
    </section>
</div>