<div id="Wards" class="card">
    <section class="centered card-header">
        Ward Information / Block Schedule
    </section>

    <section class="centered">
        <div class="table contact">

            <div class="row">
                <div>Church Street Building</div>
                <div><a target="_blank" href="#">Ward</a></div>
            </div>

        </div>
    </section>

    <section class="centered">
        <div>
            <a href="#top">Back to Top</a>
        </div>
    </section>
</div>