<template id="building-row-template">

<div class="table contact building-table">
    <div class="row-header">
        <div>
            <div class="building-name"></div>
            <div class="building-description h4"></div>
        </div>
        <div>
            <div class="clickable h4">show/hide map</div>
        </div>
    </div>
    <div class="map-container hidden row span"></div>
    <div class="row-ward row-sub-header">
        <div class="ward-name">ward</div>
        <div class="start-time">sacrament meeting</div>
        <div class="bishop">bishop</div>
        <div class="high-councilor">assigned high councilor</div>
        <div class="youth-night">youth night</div>
    </div>
</div>
</template>
<template id="ward-row-template">

    <div class="row-ward">
        <div class="cell-sub-header">ward</div>
        <div class="ward-name"></div>
        <div class="cell-sub-header">sacrament meet</div>
        <div class="start-time"></div>
        <div class="cell-sub-header">bishop</div>
        <div class="bishop" ><a id="bishop-link" target="_blank" href=""></a></div>
        <div class="cell-sub-header">high councilor</div>
        <div class="high-councilor"><a id="high-councilor-link" target="_blank" href=""></a></div>
        <div class="cell-sub-header">youth night</div>
        <div class="youth-night"></div>
    </div>
</div>
</template>

<div id="wards" class="card">
    <section class="centered card-header">
        Ward Information / Block Schedule
    </section>

    <div id="buildings-container" class="centered-column">
    </div>

    <section class="centered">
        <div>
            <a href="#header">Back to Top</a>
        </div>
    </section>
</div>