<div id="presidency" class="card">
    <section class="centered card-header">
        Stake Contact Information
    </section>

    <section class="centered">
        <div class="table contact">

            <div class="row-header">
                <div>Name</div>
                <div>Calling</div>
            </div>

            <!-- Stake President -->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/0eb49f02-b650-4e1a-82bf-fdd94c8f1797">
                        Ryan S. Orgill
                    </a>
                </div>
                <div>Stake President</div>
            </div>

            <!-- 1st Counelor-->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/f1a23cc0-e397-4623-934a-559f9ceeb4a4">
                        Seth Z. Meoño
                    </a>
                </div>
                <div>First Counselor</div>
            </div>

            <!-- 2nd Counelor-->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/0337ad5d-5b75-4405-820c-0456b23be716">
                        Carl Mouritsen
                    </a>
                </div>
                <div>Second Counselor</div>
            </div>

            <!-- Executive Secretary -->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/933e0624-2c0f-41a4-89fd-3f1c46d90953">
                        Gregor Dzierzon
                    </a>
                </div>
                <div>Executive Secretary</div>
            </div>

            <!-- Stake Clerk -->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/3d8dc3ce-b481-4139-a1f3-4d87df5d6852">
                        Jason Allen
                    </a>
                </div>
                <div>Stake Clerk</div>
            </div>

            <!-- Assistant Executive Secretary -->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/ed144810-144f-498d-8551-919d5220c8ca">
                        Spencer Galbraith
                    </a>
                </div>
                <div>Asst. Executive Secretary</div>
            </div>

            <!-- Assistant Stake Clerk -->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/3328a6f2-73fa-49a5-a5c3-6bbd0fa3826a">
                        Bryan Scott
                    </a>
                </div>
                <div>Asst. Stake Clerk: Technology Specialist</div>
            </div>

            <!-- Stake Patriarch -->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/11bd410a-00d2-417a-b1b3-9d60fcf5b972">
                        Corey Grua
                    </a>
                </div>
                <div>Stake Patriarch (CL2, DP, 6th, 11th, 13th)</div>
            </div>

            <!-- Stake Patriarch -->
            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/b12899a2-6516-4c79-86f8-b0bcb783380c">
                        Bill Lawrence
                    </a>
                </div>
                <div>Stake Patriarch (8th, 10th, 14th, 15th, WC)</div>
            </div>


            <div class="row-header">
                <div>Full Time Missionaries</div>
                <div></div>
            </div>

            <!-- Mission Office-->
            <div class="row">
                <div>
                    SLC West Mission Office
                </div>
                <div>801-966-6739</div>
            </div>

            <!-- Elders -->
            <div class="row">
                <div>
                    Elders
                </div>
                <div>
                    385-419-9659
                    <br>
                    357408900@missionary.org
                </div>
            </div>

        </div>
    </section>

    <section class="centered">
        <div>
            <a href="#top">Back to Top</a>
        </div>
    </section>
</div>