<div id="high-council" class="card">
    <section class="centered card-header">
        Stake High Council
    </section>

    <section class="centered">
        <div class="table contact">

            <div class="row-header">
                <div>Name (home ward)</div>
                <div>Assignments</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/b5f41f1a-ffef-4d52-82ec-4b1d6562574a">
                        1. Tony Clark (8th)
                    </a>
                </div>
                <div>Sunday School President</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/025df50e-d8b8-48af-80b6-62005fc85d50">
                        2. Judd Williams (CL2)
                    </a>
                </div>
                <div>8th Wward, Young Women</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/cf0eee2a-4240-4d7b-91a1-49810ffb17fb">
                        3. Loren Nielsen (13th)
                    </a>
                </div>
                <div>Stake Young Men President</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/3b8ef994-3127-4bc0-9cc1-9ec168805e50">
                        4. Mark Bastian (13th)
                    </a>
                </div>
                <div>15th Ward, Emergency Prep., Social Media, Welfare Assignments, Blood Drive</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/22390fc3-8c60-4157-b454-d7ac18c6b9a4">
                        5. Hank Malcom (WC)
                    </a>
                </div>
                <div>13th Ward, Single Adults, Firesides</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/4d23cc0d-3e6b-403d-bd5e-ae5e7cdbb025">
                        6. Craig Moore (8th)
                    </a>
                </div>
                <div>Clark 2nd Ward, Primary</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/b8894e87-e929-40e5-9ee1-d6cc805fc3a0">
                        7. Heath Kelley (13th)
                    </a>
                </div>
                <div>10th Ward, Young Single Adults</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/09f897cb-1a44-4035-ae5e-a65843a0866a">
                        8. Richard Farley (CL2)
                    </a>
                </div>
                <div>6th Ward, Temple and Family History</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/f71d20a3-ebc4-4c36-9b03-589e842593af">
                        9. Russ Christensen (CL2)
                    </a>
                </div>
                <div>14th Ward, Physical Facilities Representative</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/dd8f5d5f-39ca-44cb-9f7d-ba8af96a4c3a">
                        10. Rob Wendel (6th)
                    </a>
                </div>
                <div>11th Ward, SRS and Welfare Services</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/48c8df35-9c39-44cf-97a3-baa75e89ece3">
                        11. Lonnie Collings (11th)
                    </a>
                </div>
                <div>Deseret Peak Ward, Stake Adult Committee</div>
            </div>

            <div class="row">
                <div>
                    <a target="_blank"
                        href="https://lcr.churchofjesuschrist.org/records/member-profile/1e084e83-2315-464f-ac02-5748900d2c53">
                        12. David Eggett (8th)
                    </a>
                </div>
                <div>Willow Creek Ward, Missionary Work, Latino CC Rep</div>
            </div>

        </div>
    </section>

    <section class="centered">
        <div>
            <a href="#top">Back to Top</a>
        </div>
    </section>
</div>