<template id="high-council-row-template">

<div class="row">
    <div>
        <a target="_blank"
            href="https://lcr.churchofjesuschrist.org/records/member-profile/b5f41f1a-ffef-4d52-82ec-4b1d6562574a">
            1. Tony Clark (8th)
        </a>
    </div>
    <div class="high-council-assignments">Sunday School President</div>
</div>
</template>

<div id="high-council" class="card">
    <section class="centered card-header">
        Stake High Council
    </section>

    <section class="centered">
        <div class="table contact" id="high-council-container">

            <div class="row-header">
                <div>Name (home ward)</div>
                <div>Assignments</div>
            </div>


        </div>
    </section>

    <section class="centered">
        <div>
            <a href="#top">Back to Top</a>
        </div>
    </section>
</div>