  <template id="presidency-assignments-template">
  <div class="column">
    <div class="row-header cell">
      President Orgill
    </div>
    <ol class="assignments-container">
    </ol>
  </div>
  </template>

    <div id="presidency-assignments" class="card">
      <section class="centered card-header">
        Stake Presidency Responsibilities
      </section>

      <section class="centered">
        <div id="presidency-assignments-container" class="grid-3-col">

            
        </div>
      </section>

      <section class="centered back-link">
          <div>
              <a href="#header">Back to Top</a>
          </div>
      </section>

      
    </div>
