  <template id="stake-conference-template">
  <div class="col stake-conference-cell">    
      <div class="cell-sub-header">Date</div>
      <div class="stake-conference stake-conference-header">February 19-20</div>
      <div class="cell-sub-header">Presiding Authority</div>
      <div class="stake-conference presiding-authority">Visiting Authority</div>
      <div class="cell-sub-header">Attending Shelley Lane Building</div>
      <div class="stake-conference shelley-lane">11th and 14th Wards</div>
      <div class="cell-sub-header">Attending Church Street Building</div>
      <div class="stake-conference church-street">DP and 10th Wards</div>
      <div class="cell-sub-header">Set up chairs in Durfee Street Building</div>
      <div class="stake-conference durfee">8th Ward</div>
  </div>
  </template>

    <div id="stake-conference" class="card">
      <section class="centered card-header">
        Stake Conference
      </section>

      <seection class="centered">
      <div class="centered table">
        <div class="row-header cell" id="stake-conference-header"></div>
        <div id="stake-conference-instructions" class="cell"></div>
      </div>
      </seection>

      <section class="centered">

        <div id="stake-conference-container" class="centered stake-conference-table width-90">
          <div class="col stake-conference-cell stake-conference-titles">    
              <div class="stake-conference stake-conference-header">2026</div>
              <div class="stake-conference stake-conference-title">Presiding Authority</div>
              <div class="stake-conference stake-conference-title">Attending Shelley Lane Building</div>
              <div class="stake-conference stake-conference-title">Attending Church Street Building</div>
              <div class="stake-conference stake-conference-title">Set up chairs in Durfee Street Building</div>
          </div>

        </div>

      </section>

      <section class="centered">
          <div>
              <a href="#header">Back to Top</a>
          </div>
      </section>
      
    </div>
