<script src="/assets/js/controls/dropdown-month.js"></script>

<div class="row-input">
    <label for="month-select">Month</label>
    <select name="month-select" id="month-select">
        <option value="0">All Months</option>
        <option value="1">January</option>
        <option value="3">March</option>
        <option value="5">May</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
</div>