@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", Cambria, Cochin, Georgia, Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
}

h1,
.h1 {
    margin: 20px 0 10px 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 2rem;
    color: #555;
    width: 50vw;
}

h4,
.h4 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: .9rem;
}

ul {
    width: 90%;;
}

hr {
    border-bottom: solid 1px var(--border-color) !important;
}


/* margins */
.m-0 {
    margin: 0 !important;
}
.m-1 {
    margin: 2px;
}
.m-2 {
    margin: 5px;
}
.m-3 {
    margin: 10px;
}
.m-4 {
    margin: 20px;
}

a,
a:visited,
.link {
    color: #990000;
    cursor: pointer;
    text-decoration: underline;
}

a:hover,
.link:hover {
    color: red;
}

#header .h1 {
    padding: 10px 0;
    border-top: solid 2px var(--border-color);
    border-bottom: solid 2px var(--border-color);
}

.nav-header {
    display: flex;
    align-items: end;

    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.613), rgba(255,255,255,0.613)),
        url('/assets/images/deseret-peak-temple.webp');
    background-size: cover, cover;
    background-position:
        center center,   /* for the gradient */
        center -120px;    /* for the image (X position first, then Y) */

    height: 120px;
    border-bottom: solid 3px var(--border-color);
}


.nav-header img {
    height: 100px;
}

.nav-header h2 {
    margin: 5px 10px;
    text-align: center;
    flex-grow: 1;
}

.clickable {
    color: maroon;
    cursor: pointer;
}

.hidden {
    display: none !important;
}


img#dp-temple {
    width: 50vw;
}

.region {
    margin-bottom: 20px;
}

.centered {
    display: flex;
    justify-content: center;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h3 {
    margin-bottom: 0;
}
.content p {
    margin-top: 0;
}

.content-width-fill {
    width: 90%;
}

.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
}

.table>a {
    display: block;
    margin-top: 10px;
}


.row,
.row-ward {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: dotted 1px var(--border-color);
    padding-top: 5px;
}

.row:hover,
.row-ward:hover {
    background-color: #eee;
}

.row-ward .ward-name {
    display: block;
    width: 7%;
    flex-shrink: 0;
}

.row-ward .start-time {
    width: 15%;
    flex-shrink: 0;
}

.row-ward .bishop,
.row-ward .high-councilor {
    width: 25%;
    flex-shrink: 0;
}

.row-ward .youth-night {
    flex-grow: 1;
}

.row-sub-header {
    font-size: .7rem;
    font-weight: 500;
    background-color: #fafafa;
}


.row>div,
.row-header>div,
.row-ward>div,
.cell {
    padding: 0 5px;
}

.row>div:first-child,
.row-header>div:first-child {
    width: 50%;
    flex-shrink: 0;
}

.row>div:last-child,
.row-header>div:last-child {
    text-align: right;
    flex-grow: 1;
}

.row>div.span,
.row-header>div.span {
    width: 100% !important;
    text-align: left !important;
}

.row-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px black;
    padding: 10px;
    font-weight: 700;
    background-color: #eee;
}

/* Cell formats */
.cell-ward {
    display: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px var(--border-color)
}

.cell-sub-header {
    display: none;
}

.ward-sub-header {
    display: block;
    font-size: .7rem;
    font-weight: 500;
    border-top: solid 1px var(--border-color);
    padding-top: 2px;
    margin-top: 10px;
}
/* 
.cell-ward:first-child  .ward-sub-header{
    border: unset;
    margin-top: 0;
} */

.cell-row {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.cell-sub-header {
    font-size: .6rem;
    font-weight: 500;
    padding-top: 6px;
}

.cell-50 {
    display: inline-block;
    width: 100% !important;
}

.ward-sub-header {
    background-color: var(--background-sub-header);
}

.cell-ward .cell-ward-name {
    display: block;
    background-color: var(--background-sub-header);
    font-size: 1.3rem;
}



.col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.grid-3-col {
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border: solid 1px var(--border-color);
    /* border-radius: var(--border-radius-card); */
    width: 90vw; 
    justify-self: center;
    padding-bottom: 10px;
}

.card-header {
    padding: 10px 0;
    background-color: var(--background-header);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-header);
    /* border-top-left-radius: var(--border-radius-card);
    border-top-right-radius: var(--border-radius-card); */
    border-bottom: solid 1px var(--border-color);
    margin-bottom: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


.filters-container {
    margin: 20px 0 10px 0;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 800px) {

    img#dp-temple,
    .card,
    h1,
    .h1 {
        width: 95vw !important;
    }
    
    .nav-header {
        height: unset;
    }
    .row-ward {
        display: none;
    }

    .cell-ward,
    .cell-sub-header {
        display: unset;
    }
     
    .row, .row-header
    {
        display: flex;
        flex-direction: column;
    }

    .row > div:first-child,
    .row-header > div:first-child {
        width: unset;
    }

    .row > div:last-child,
    .row-header > div:last-child {
        font-weight: 200;
        font-size: .8rem;
        text-align: unset;
    }

    .row-sub-header {
        display: none !important;
    }
}


@media screen and (max-width: 600px) {



    .table {
        width: 95%;
    }


    .grid-3-col {
        grid-template-columns: 1fr;
    }
}