@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", Cambria, Cochin, Georgia, Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
}

p {
    /* margin: 0; */
}

h1, .h1 {
    margin: 20px 0 10px 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 2rem;
    color: #555;
    width: 50vw;
}

h4, .h4 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: .9rem;
}

a, 
a:visited {
    color: #990000;
}

a:hover {
    color: red;
}

.clickable {
    color: maroon;
    cursor: pointer;
}

.hidden {
    display: none !important;
}


img#dp-temple {
    width: 50vw;
}

.region {
    margin-bottom: 20px;
}

.centered {
    display: flex;
    justify-content: center;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.width-90 {
    width: 90%;
}

.width-80{ 
    width: 80%;
}

.width-70{ 
    width: 70%;
}

.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
}

.table > a {
    display: block;
    margin-top: 10px;
}

.row-ward .ward-name {
    width: 7%;
    flex-shrink: 0;
}
.row-ward .start-time {
    width: 15%;
    flex-shrink: 0;
}
.row-ward .bishop,
.row-ward .high-councilor  {
    width: 25%;
    flex-shrink: 0;
}
.row-ward .youth-night {
    flex-grow: 1;
}

.row,
.row-ward
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: dotted 1px var(--border-color);
    padding-top: 5px;
}

.row:hover,
.row-ward:hover
{
    background-color: #eee;
}

.row-sub-header {
    font-size: .7rem;
    font-weight: 500;
    background-color: #fafafa;
}

.cell-sub-header {
    display: none;
}

.row > div,
.row-header > div,
.row-ward > div,
.cell {
    padding: 0 5px;
}

.row > div:first-child,
.row-header > div:first-child {
    width: 33%;
    flex-shrink: 0;
}

.row > div:last-child,
.row-header > div:last-child {
    text-align: right;
    flex-grow: 1;
}

.row > div.span,
.row-header > div.span {
    width: 100% !important;
    text-align: left !important;
}

.row-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px black;
    padding-top: 5px;
    font-weight: 700;
    background-color: #eee;
}

.col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.grid-3-col{
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-card);
    margin-top: 30px;
    width: 50vw;
    justify-self: center;
    padding-bottom: 10px;
}

.card-header {
    padding: 10px 0;
    background-color: var(--background-header);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-header);
    border-top-left-radius: var(--border-radius-card);
    border-top-right-radius: var(--border-radius-card);
    border-bottom: solid 1px var(--border-color);
    margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {

    img#dp-temple,
    .card,
    h1, .h1  {
        width: 90vw !important;
    }
}

@media screen and (max-width: 1000px) {

    img#dp-temple,
    .card,
    h1, .h1  {
        width: 98vw !important;
    }


    .row, .row-header, .row-ward
    {
        display: flex;
        flex-direction: column;
    }

    .row > div:first-child,
    .row-header > div:first-child {
        width: unset;
    }
    .row > div:last-child,
    .row-header > div:last-child {
        font-weight: 200;
        font-size: .8rem;
        text-align: unset;
    }

    .row-sub-header {
        display: none;
    }

    .cell-sub-header {
        display: block;
        font-size: .7rem;
        font-weight: 500;
        margin-top: 2px;
        padding-top: 2px;
    }


    .row-ward .ward-name,
    .row-ward .start-time ,
    .row-ward .bishop,
    .row-ward .high-councilor,
    .row-ward .youth-night {
        width: 100%;
        flex-grow: 1;
    }
    .row-ward .youth-night {
        margin-bottom: 5px;
    }

    .grid-3-col{
        grid-template-columns: 1fr;
    }
}