@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto Slab", Cambria, Cochin, Georgia, Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;

}

main{
    /* border: solid 1px rgb(89, 89, 89); */
    padding: 10px;
    margin: 10px auto;
    /* width: 70%; */
}

h1, .h1 {
    margin: 20px 0 10px 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 2rem;
    color: #555;
}

a, 
a:visited {
    color: #990000;
}

a:hover {
    color: red;
}


img#dp-temple {
    width: 50%;
}

.region {
    margin-bottom: 20px;
}

.centered {
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
}

.table > a {
    display: block;
    margin-top: 10px;
}

.row
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: dotted 1px black;
    padding-top: 5px;
}

.row:hover
{
    background-color: #eee;
}

.row > div,
.row-header > div {
    padding: 0 5px;
}

.row > div:first-child,
.row-header > div:first-child {
    width: 33%;
    flex-shrink: 0;
}

.row > div:last-child,
.row-header > div:last-child {
    text-align: right;
    flex-grow: 1;
}

.row-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px black;
    padding-top: 5px;
    font-weight: 700;
    background-color: #eee;
}

.card {
    border: solid 1px #ccc;
    border-radius: 15px;
    margin-top: 30px;
    width: 50vw;
    justify-self: center;
    padding-bottom: 10px;
}

.card-header {
    padding: 10px 0;
    background-color: #f5f5f5;
    font-weight: 700;
    font-size: 1.5rem;
    color: #555;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}

@media screen and (max-width: 780px) {
    .row, .row-header
    {
        display: flex;
        flex-direction: column;
    }

    .row > div:first-child,
    .row-header > div:first-child {
        width: unset;
    }
    .row > div:last-child,
    .row-header > div:last-child {
        font-weight: 200;
        font-size: .8rem;
        text-align: unset;
    }
}