.row-input {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;

    width: 95%;
    gap: 5px;
}

.row-input > label {
    width: 40%;
    text-align: right;
}
.row-input > input,
.row-input > select {
    width: 40%;
    border: solid 1px var(--border-color-form);
    border-radius: 5px;
    padding: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;        /* Modern browsers */

  background-image: url('/assets/images/dropdown-arrow.svg'); /* Your custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 15px;   /* width height */
  padding-right: 30px; /* Space so text doesn't overlap arrow */
}


@media screen and (max-width: 800px) {

    /* .row-input {
        flex-direction: column;
    } */

    .row-input > label {
        /* text-align: unset; */
        width: 30%;
        /* font-size: .6rem; */
    }

    .row-input > input,
    .row-input > select {
        width: 70%;
    }
}
