<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="alternate icon" href="/favicon.ico">
  {% raw %}
  <link rel="stylesheet" href="/assets/css/styles-variables.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% endraw %}
</head>
<body>
  
  <main id="top">

      {{ content }}

  </main>
</body>
</html>