<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  {% raw %}
  <link rel="stylesheet" href="assets/css/styles-variables.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/styles-stake-conference.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/12.0.2/marked.min.js"></script>

  <script src="assets/js/app.js"></script>
  <script src="assets/js/helpers.js"></script>
  <script src="assets/js/resource-service.js"></script>
  {% endraw %}
</head>
<body>
  <main id="top">

      {{ content }}

  </main>
</body>
</html>