
<link rel="stylesheet" href="/assets/css/styles-bishops.css">

<template id="bishop-ppi-row-template">

    <div class="row-ppi">
            <div class="row-ppi-ward cell-header"></div>
            <div class="row-ppi-time"></div>
            <div class="row-ppi-quarter row-ppi-q1"></div>
            <div class="row-ppi-quarter row-ppi-q2"></div>
            <div class="row-ppi-quarter row-ppi-q3"></div>
            <div class="row-ppi-quarter row-ppi-q4"></div>
    </div>

    <div class="cell-ward">
        <div class="cell-row">
            <div class="cell-50">
                <div class="cell-ppi-ward header"></div>
            </div>
            <div class="cell-50">
                <div class="cell-ppi-time header"></div>
            </div>
            <div class="cell-50 flex-row">
                <div class="cell-sub-header">q1</div>
                <div class="cell-ppi-q1"></div>
            </div>
            <div class="cell-50 flex-row">
                <div class="cell-sub-header">q2</div>
                <div class="cell-ppi-q2"></div>
            </div>
            <div class="cell-50 flex-row">
                <div class="cell-sub-header">q3</div>
                <div class="cell-ppi-q3"></div>
            </div>
            <div class="cell-50 flex-row">
                <div class="cell-sub-header">q4</div>
                <div class="cell-ppi-q4"></div>
            </div>
        </div>
    </div>
</template>

    <div id="bishops" class="card">
      <section class="centered card-header">
        Bishops Information
      </section>

      <section class="centered">
      <div class="centered table" >
        <div class="row-header cell" id="bishop-ppi-header">Bishop PPI Schedule</div>
        <div id="bishop-ppi-table">
          <div class="row-ppi row-sub-header">
              <div class="row-ppi-ward">ward</div>
              <div class="row-ppi-time">time</div>
              <div class="row-ppi-quarter ppi-q1">q1</div>
              <div class="row-ppi-quarter ppi-q2">q2</div>
              <div class="row-ppi-quarter ppi-q3">q3</div>
              <div class="row-ppi-quarter ppi-q4">q4</div>
          </div>
        </div>
      </div>
      </section>

      <section class="centered">
      <div class="centered table">
        <div class="row-header cell" id="transient-bishop-header"></div>
        <div id="transient-bishop-content" class="cell content"></div>
      </div>
      </section>

      
    </div>
