<link rel="stylesheet" href="/assets/css/styles-elders.css">
<script src="/assets/js/pages/elders.js"></script>

<template id="elders-ppi-row-template">

  <div class="row-ppi">
    <div class="row-ppi-ward cell-header"></div>
    <div class="row-ppi-quarter row-ppi-q1"></div>
    <div class="row-ppi-quarter row-ppi-q2"></div>
  </div>

  <div class="cell-ward">
    <div class="cell-row">
      <div class="cell-ppi-ward header"></div>
      <div class="cell-50 flex-row">
        <div class="cell-sub-header">Spring</div>
        <div class="cell-ppi-q1"></div>
      </div>
      <div class="cell-50 flex-row">
        <div class="cell-sub-header">Fall</div>
        <div class="cell-ppi-q2"></div>
      </div>
    </div>
  </div>
</template>


<div id="elders" class="card">
  <section class="centered card-header">
    Melchizedek Priesthood PPI Schedule
  </section>

  <section class="centered">
    <div class="centered table">
      <div class="row-header cell" id="elders-quorum-header">Elders Quorum Presidency PPIs</div>
      <div id="elders-quorum-content" class="cell content"></div>
    </div>
  </section>


      <div class="filters-container">
        {% include controls/dropdown-years.html %}
      </div>


  <section class="centered">
    <div class="centered table">
      <div class="row-header cell" id="elders-ppi-header">PPI Schedule</div>

      <div class="row-ppi row-sub-header">
        <div class="row-ppi-ward">ward</div>
        <div class="row-ppi-quarter ppi-q1">Spring</div>
        <div class="row-ppi-quarter ppi-q2">Fall</div>
      </div>
      <div id="elders-ppi-table">
      </div>
    </div>
  </section>


</div>