<link rel="stylesheet" href="/assets/css/styles-speaking.css">
<script src="/assets/js/pages/speaking-assignments.js"></script>

<template id="speaking-topic-template">
  <div class="speaking-card">
    <div class="speaking-header cell">
      <div>
        <div id="speaking-date" class="speaking-sub-header"></div>
        <div class="topic-header">Topic:</div>
        <div id="topic-name"></div>
      </div>
      <div>
        <div class="speaking-sub-header">Resources</div>
        <div id="topic-resources"></div>
      </div>
    </div>
    <div id="speaking-wards"></div>
  </div>
</template>

<template id="ward-assignment-template">
  <div class="ward-assignment-cell">
    <div id="ward-name"></div>
    <div><strong>aux: </strong><a href="" target="_blank" id="auxilliary-name" title="auxilliary speaker"></a></div>
    <div><strong>hc: </strong><a  href="" target="_blank" id="high-council-name" title="high council speaker"></a></div>
  </div>
</template>



<div id="speaking-assignments" class="card">
  <section class="centered card-header">
    Stake Speaking Assignments - <span id="speaking-year"></span>
  </section>


  <section class="centered">
    <div class="centered table">
      <div class="toggle-link-container">
        <div id="hide-speaking-details" class="link">hide instructions</div>
        <div id="show-speaking-details" class="link hidden">show instructions</div>
      </div>
      <div id="speaking-instructions-container">
        <div class="row-header cell" id="speaking-instructions-header"></div>
        <div id="speaking-instructions" class="cell"></div>
      </div>

      <div class="speaking-filters">

        {% include filters/speaking-filters.html %}
      </div>


      <div id="speaking-topics-container">
      </div>
    </div>
  </section>

</div>